{% extends 'base.html.twig' %}

{% block title %}New Definition{% endblock %}

{% block body %}
    <h1>Création nouvelle Definition</h1>
    <div id="form">
    {{ include('definition/_form.html.twig') }}
    <a href="{{ path('page3') }}">Retour</a>
    </div>
{% endblock %}
