{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <div>
        <div id="form">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}


                <button class="btn" type="submit">Enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
